<h1>All Bogs </h1>
<%= link_to "Create a new bog", "/bogs/new" %>
  <% @bogs.recently_created.each do |bog| %>
    <div id="bog_<%= bog.id %>">
      <h3><%= bog.name %></h3>
      <p>Created on: <%= bog.time %></p>
      <p>Frog population: <%= bog.population %></p>
      <%= button_to "View this bog", "/bogs/#{bog.id}", method: :get %><br>
      <%= button_to "Update this bog", "/bogs/#{bog.id}/edit", method: :get %><br>
      <%= button_to "Delete this bog", "/bogs/#{bog.id}", method: :delete %><br><br>
    </div>
  <% end %>
