<%= link_to "View all frogs in existence", '/frogs' %><br>
<%= link_to "View all bogs in existence", '/bogs' %><br>
<%= link_to "View all frogs in this bog", "/bogs/#{@bog.id}/frogs" %>
<%= link_to "Update this bog", "/bogs/#{@bog.id}/edit" %>

  <h1>Bog information</h1>

    <p>Bog name: <%= @bog.name %></p>
    <p>Bog ph: <%= @bog.ph %></p>
    <p>"Frog population for this bog: <%= @bog.population %></p>
    <p>Is this bog radioactive? <%= @bog.radioactive %></p>
