
  <h1>Bog information</h1>
  <%= button_to "Update this bog", "/bogs/#{@bog.id}/edit", method: :get %><br>
  <%= button_to "View all frogs in this bog", "/bogs/#{@bog.id}/frogs", method: :get %><br>

    <h3>Bog name: <%= @bog.name %></h3>
    <p>Bog ph: <%= @bog.ph %></p>
    <p>Frog population: <%= @bog.population %></p>
    <p>Is this bog radioactive? <%= @bog.radioactive %></p>
