  <h1>All frogs in <%= @bog.name %></h1>
  <%= link_to "Alphabetize frogs", "/bogs/#{@bog.id}/frogs?sort=asc" %><br><br>
  <%= link_to "Drop a frog in this bog", "/bogs/#{@bog.id}/frogs/new", method: :get %><br><br>

  <%= form_with url: "/bogs/#{@bog.id}/frogs", method: :get, local: true do |form| %>
  <%= form.label :age, "Filter out frogs under age" %>
  <%= form.text_field :age, value: 0 %>
  <%= form.submit %>
  <% end %>

  <br><br>

  <% @bog_frogs.each do |frog| %>
  <h3>Name: <%= frog.name %></h3>
  <p>Created on: <%= frog.time %></p>
  <p>Age: <%= frog.age %></p>
  <p>Singing on a log? <%= frog.singing %></p><br>
  <% end %>
