<%= link_to "View all frogs in existence", "/frogs" %>
<%= link_to "View all bogs in existence", "/bogs" %><br>
<%= link_to "Drop a frog in this bog", "/bogs/#{@bog.id}/frogs/new" %>

  <h1>All frogs in <%= @bog.name %></h1>

  <% @bog.alphabetized_frogs.each do |froge| %>
  <h3>Name: <%= froge.name %></h3>
  <p>Age: <%= froge.age %></p>
  <p>Singing on a log? <%= froge.singing %></p>
  <% end %>
